body{
	margin: 1%;
	padding: 10px;
}
header{
	background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
	background-size: 100%;
	padding: 20px;
}
nav a{
	display: inline-block;
	margin: 2%;
	-webkit-border-radius: 5;
	-moz-border-radius:5;
	-o-border-radius:5;
	border-radius: 5px;
	text-decoration: none;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: #b9a5a56e;
	width: 150px;
	height: 20px;
	padding: 2%
}
.active{
	background-color: #FFFFFF;
}
.left{
	background-color:#138802;
	width: 25%;
	float: left;
	padding: 5% 0;
}
.right{
	width: 75%;
	display: inline-block;
	padding:2% 0;
}
.left img{
	border:solid 1px #000000;
	width: 80%;
	margin: 10%;
}
h1{
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	text-transform: uppercase;
}